.*
*~
*.a
*.o
*.so
.*.swp
!.gitignore
test-data-read
test-data-write
test-file-private
test-file-read
test-file-write
test-hugetlbfs-read
test-hugetlbfs-write
test-malloc-read
test-malloc-read-zero
test-malloc-vram-clear
test-malloc-vram-plus
test-malloc-vram-read
test-malloc-vram-write
test-malloc-write
test-share-read
test-share-write
test-stack-read
test-stack-write
test-thp-migrate
test-thp-read
test-thp-write
test-thp-zero
test-write-hole
